body{
    background-color: lightslategray;
}
.navbar{
    height: 30px;
    width: 100%;
    background-color: rgba(255, 21, 0, 0.356);
}

.wrapper{
    width: 50%;
    position: absolute;
    left: 40%;
}